In [9]:
import numpy as np
import pandas as pd

In [18]:
from scipy.stats import norm, expon
num_contact_groups = 2
params = {1:{'mu_p':1, 'scale_p':2, 'mu_s':2, 'scale_s':1, 'mu_a':4},
            2:{'mu_p':1, 'scale_p':2, 'mu_s':2, 'scale_s':1, 'mu_a':3}}


end_time = 540
num_reps = 4
for i in range(1, num_reps+1):
    df = pd.DataFrame()
    for contact_group in range(1, num_contact_groups+1):
        A = expon.rvs(size=5000, loc=0, scale=params[contact_group]['mu_a'])
        A = np.cumsum(A)
        A = A[A<540]
        P = np.exp(norm.rvs(size=len(A), loc=params[contact_group]['mu_p'], scale=params[contact_group]['scale_p']))
        S = np.exp(norm.rvs(size=len(A), loc=params[contact_group]['mu_s'], scale=params[contact_group]['scale_s']))
        df_tmp = pd.DataFrame()
        df_tmp['Arrival Time'] = A
        df_tmp['Handle Time'] = S 
        df_tmp['Patience Time'] = P
        df_tmp['Contact Group'] = contact_group
        df = pd.concat([df, df_tmp])
    
        df.to_csv(f'Simulated_Contact_{i}.csv')

In [19]:
df

     Arrival Time  Handle Time  Patience Time  Contact Group
0        1.429808    44.113856       2.590116              1
1        5.490735    22.928307       2.993743              1
2        5.526452    19.882796       0.882357              1
3       10.123613    22.270861       2.534539              1
4       10.874611     4.051641       0.036921              1
..            ...          ...            ...            ...
179    519.910989     1.664794       4.076140              2
180    527.973114     7.884196       1.089129              2
181    531.196690    28.943640       0.163019              2
182    536.522765     5.324152       0.062930              2
183    536.583672     4.192092       1.162526              2

[325 rows x 4 columns]