In [4]:
import pandas as pd
import numpy as np
import time
import random
import heapq
import matplotlib.pyplot as plt
import copy
from mrg32k3a.mrg32k3a import MRG32k3a
from IPython.display import display
import os
import joblib
import warnings
import pickle
warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning)
import pickle

In [5]:
df_bo = pd.read_csv('data_bo/Back_Office_Dataset.csv')
df_deadline = pd.read_csv('data_bo/Back_Office_Deadline.csv')
display(df_bo)
display(df_deadline)

    Unnamed: 0  Contact ID  Contact Group  Expert ID  Expert Group  Deadline
0            0          12              2          3             2         1
1            1          16              2          3             2         1
2            2          17              2          5             2         1
3            3          19              2          3             2         1
4            4          18              2          2             3         1
5            5          22              2          1             2         1
6            6          20              2          2             2         1
7            7          27              2          2             3         1
8            8          32              2          5             2         1
9            9          33              2          1             1         1
10          10          44              2          1             1         1

   Contact Group  Deadline  Ratio
0              1         5    0.1
1              2         6    0.2

In [3]:
# for each contact group there should be an object that fits to the historical data and then fits the 
macro_rep = 1
num_reps_simulate = 200
num_contact_groups = 2
macro_rep = macro_rep # so that you knwo they should be the same.
for i in range(1, macro_rep+1):
    for j in range(1, num_reps_simulate+1):
        df_tmp = pd.read_csv(f'data_bo/Back_Office_Dataset.csv')
        df_final_tmp = pd.DataFrame()
        for contact_group in range(1, num_contact_groups+1):
            df_tmp_contact = df_tmp[df_tmp['Contact Group']==contact_group]
            
            df_tmp_contact['BO Handle Time'] = np.random.exponential(scale=2, size=len(df_tmp_contact))*5
            
            df_final_tmp = pd.concat([df_final_tmp, df_tmp_contact])
        df_final_tmp.to_csv(f'data_bo/Back_Office_Sim_True_Macro_{i}_Rep_{j}.csv')